# arquivos de configuração do sistema
node_modules/
.DS_Store

# arquivos de build e arquivos compilados
build/
dist/

# arquivos gerados pelo IDE ou editor de código
.idea/
.vscode/

# outros arquivos ou pastas que você deseja ignorar (por exemplo, arquivos de log, chaves de API, etc.)
logs/
.env
